     body {
        background-color:#606C38;
		padding: 50px;
        margin: 20px;
	 }
	 
	 h1 {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  color: #283618;
}



        .logo,.title {
	width:33%;
	display:inline-block;
	vertical-align:top;
	position:relative;
	}
	
	
	
	   .navbar ul{
    list-style-type: none;
    background-color: #606C38;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
     }
	
	
	
    .navbar a{
    color: #283618;;
    text-decoration: none;
	font-weight: bold;
    padding: 15px;
    display: block;
    text-align: center;
     }


    .navbar a:hover{
    background-color: #FEFAE0;
    }
	
	
    .navbar li{
    float: left;
     }

       a {

  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  color: #a3b18a;
   }


      p {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  color: #283618;
    }

  .container {
  overflow: hidden; 
  border: double 4px #a3b18a;
  margin: 20px 25px 10px 15px;
  padding: 20px;
  background-color: #FEFAE0;
    }

.container img {
  float: left; 
  width: 50%; 
  height: auto; 
  margin-right: 15px;
}

.container iframe {
  float: left; 
  margin-right: 15px;
}

.container p {
  text-align: justify; 
  overflow: hidden; 
}

footer {
  margin-top: auto;
  text-align: center; 
  width: 100%; 
  padding: 10px;
}

  
